<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    <h1>About me</h1>

    <p> I'm an incoming 2nd year Computer Science student at the University of California, Irvine (UCI)! 
        I focus on full-stack web development in technologies such as TypeScript, React, Node.js, Python, and Express. 
        I love building personal projects in my free time and I'm always looking to learn and grow from others with 
        more experience than me. 
    </p>
    
</body>
</html>