<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Experience</title>
    <link lang='sass' rel="stylesheet" href="./static/styles/experience.css">
</head>
<body>
    <div class="root">
        <h1> Previous Work Experience </h1>
        <div class="experience">
            <div class="header">
                <h2> Major League Hacking </h2>
                <h3> June 2024 - Present </h3>
            </div>
            <div class="subheader">
                <h4> SWE Intern </h4>
                <h4> Remote </h4>
            </div>
            <div class="content">
                <ul>
                    <li> Learned about Production Engineering. </li>
                    <li> Mentored by Meta Engineers. </li>
                </ul>
            </div>            
        </div>
        <div class="experience">
            <div class="header">
                <h2> Flow Global Software Technologies </h2>
                <h3> April 2024 - Present </h3>
            </div>
            <div class="subheader">
                <h4> SWE Intern </h4>
                <h4> Remote </h4>
            </div>
            <div class="content">
                <ul>
                    <li>Develop the frontend of a sales productivity-enhancing desktop application using Electron.js and React.js. </li>
                    <li>Integrate LinkedIn embedded popup model to improve sales rep outreach efficiency by 20%.</li>
                    <li>Update frontend components to sync with changes made to Python/Django backend for storing contact information
                        in PostgreSQL database.</li>
                    <li>Enable REST APIs to integrate application with functionality from external sales platforms. </li>       
                </ul>
            </div>            
        </div>
        <div class="experience">
            <div class="header">
                <h2> ICS Student Council </h2>
                <h3> October 2023 - Present </h3>
            </div>
            <div class="subheader">
                <h4> Events Committee Member </h4>
                <h4> Irvine, CA </h4>
            </div>
            <div class="content">
                <ul>
                    <li>Collaborate weekly to brainstorm professional/social event ideas, leading to successful execution of 15+ events.</li>       
                    <li>Supervise ICS events to promote audience participation of 30+ members and ensure seamless execution of events.</li>
                    <li>Craft compelling application proposals to secure UCI-sponsored funding of $800+ for ICS events.</li>
                    <li>Communicate event plans with public relations and corporate committees of ICS Student Council to coordinate
                        event sponsors and social media promotion</li>
                </ul>
            </div>            
        </div>
    </div>
</body>
</html>