<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Experience</title>
    <link lang='sass' rel="stylesheet" href="./static/styles/experience.css">
</head>
<body>
    <div class="root">
        <div class="experience">
            <div class="header">
                <h2> {{ experience_title }} </h2>
                <h3> {{ date_range }} </h3>
            </div>
            <div class="subheader">
                <h4> {{ role_name }} </h4>
                <h4> {{ location }} </h4>
            </div>
            <div class="content">
                <ul>
                    <li> {{ content }} </li>
                </ul>
            </div>            
        </div>
    </div>
</body>
</html>