<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hobbies</title>
</head>
<body>
    <h1>Hobbies</h1>

    <h3> Piano </h3>
    <img src="./static/img/piano.jpeg" width="400" height="200" alt="piano image">
    <p> I've been playing piano since I was in 2nd grade. For me, it is a great way to pass time without 
        technology or social media, and it helps me destress from academics in a healthy way. My favorite 
        classical era is the Romantic era because of the amount of depth and expression that many songs in that 
        era had. I've recently been looking into learning movie music on the piano from movies. My favorite movie music
        comes from Interstellar (2014) which many consider to be a masterpiece due to its soundtrack. 
    </p>

    <h3> Pickleball </h3>
    <img src="./static/img/pickleball.jpeg" width="400" height="200" alt="pickleball image">
    <p> I recently started to play pickleball in Fall 2023, and I've met many friends at UC Irvine through this sport. We 
        started a Pickleball Club and got lots of members, and its always fun to try out new strategies and mess around on the 
        court since the sport is pretty casual. We're even thinking about organizing competitions this upcoming year!
    </p>

    <h3> Food </h3>
    <img src="./static/img/food.jpg" width="400" height="200" alt="pickleball image">
    <p> I always love to try new food and cuisines. I love Southern California and Irvine specifically for its amazing 
        Asian food, but I'm always looking to try new cuisines as well. I recently tried Ethiopian food at a Jazz Bar
        in San Francsisco and I was blown away by how similar it was to Indian food. I loved the food a lot and definitely 
        want to find another Ethiopian food place to try. 
    </p>


</body>
</html>


















